.modal-content__wrapper {
  block-size: 100%;
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content__icon-wrapper {
  block-size: 100px;
  inline-size: 100px;
}

.modal-content__icon-wrapper__no-icon {
  block-size: 100px;
  inline-size: 100px;
  background-color: var(--color-disabled-text);
  border-radius: 50%;
}

.modal-content__icon {
  block-size: 100%;
  inline-size: 100%;
  object-fit: contain;
}

.modal-content__title {
  margin-top: 52px;
  margin-bottom: var(--space-12);
  font-family: var(--font-heading);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-h2);
}

.modal-content__text {
  font-size: var(--font-size-body);
}

.modal-content__button {
  margin-top: var(--space-32);
  inline-size: 100%;
}

.modal__sizes {
  max-inline-size: 556px;
  padding: 62px 60px;
}
