.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-32);
  width: 100%;
}

.formContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}

.passwordField {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.passwordHint {
  color: var(--color-text);
  font-family: var(--font-body);
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
  letter-spacing: 0.24px;
}
