.textarea-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}

.textarea-label {
  color: var(--color-text);
  font-size: var(--font-size-body);
}

.textarea-wrapper {
  display: flex;
  align-items: flex-start;
  border: 1px solid var(--color-caption);
  border-radius: var(--radius-md);
  overflow: hidden; /* ← новое свойство */
}

.textarea-wrapper:focus-within {
  border-color: var(--color-text);
}

.textarea-wrapper.error {
  border-color: var(--color-error);
}

.textarea-wrapper.disabled {
  color: var(--color-disabled-text);
  cursor: not-allowed;
}

.textarea {
  width: 100%;
  padding: var(--space-4)  var(--space-20)  var(--space-60);
  border: 0;
  outline: none;
  background: var(--color-background);
  resize: none;
  max-height: 96px;
  font-family: var(--font-body);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
  letter-spacing: var(--letter-spacing-caption);
}

.textarea::placeholder {
  color: var(--color-caption);
}

.textarea:disabled {
  cursor: not-allowed;
}

.textarea-error {
  color: var(--color-error);
  font-size: var(--font-size-caption);
}

.textarea-helperText {
  color: var(--color-text);
  font-size: var(--font-size-caption);
}
